yt-dlp
cryptography
bs4
requests
rich
pyfiglet
#llama-cpp-python | SOLO si usa modelo local .gguf
#anthropic        | SI piensa usar api
#openai           | Si planea usar api
rich
PIL
getuseragent
user_agent
faker
