yt-dlp
psutil
cryptography
bs4
requests
pyfiglet
#llama-cpp-python | si usa modelo local .gguf
#anthropic        | SI piensa usar api
#openai           | Si planea usar api
rich
PIL
getuseragent
user_agent
faker
